In [74]:
import awswrangler as wr
import pandas as pd

In [75]:
pd.options.display.float_format = "{:.2f}".format

In [76]:
df_counts = wr.s3.read_parquet(path="s3://amazon-reviews-eafit/eda/counts/")

In [77]:
df_counts

                                         metric      value
0                                 Total Records  109745480
1                   Filtered Records (No Nulls)  109524497
2                              Verified Records   86384963
3  Customers with more than three reviews count   67893558

In [78]:
print(
    f"Total de registros después de filtrar nulos: {df_counts.iloc[0]['value'] - df_counts.iloc[1]['value']}"
)
print(
    f"Total de registros después de filtrar la gente que no compró: {df_counts.iloc[1]['value'] - df_counts.iloc[2]['value']}"
)
print(
    f"Total de registros después de filtrar gente que ha hecho al menos 3 reviews: {df_counts.iloc[2]['value'] - df_counts.iloc[3]['value']}"
)

Total de registros después de filtrar nulos: 220983
Total de registros después de filtrar la gente que no compró: 23139534
Total de registros después de filtrar gente que ha hecho al menos 3 reviews: 18491405

In [79]:
df_summary_statistics = wr.s3.read_parquet(
    path="s3://amazon-reviews-eafit/eda/summary_statistics/"
)

In [80]:
df_summary_statistics

                        metric       value
0      Distinct Products Count 11009564.00
1     Distinct Customers Count  7612393.00
2               Average Rating        4.26
3     Average Reviews per User        8.92
4  Average Reviews per Product        6.17

In [81]:
df_avg_ratings_per_category = wr.s3.read_parquet(
    path="s3://amazon-reviews-eafit/eda/avg_rating_per_category/"
)

In [82]:
df_avg_ratings_per_category

                    category  avg_rating
0        digital_video_games        3.97
1                   software        3.94
2                      music        4.58
3            office_products        4.25
4                  furniture        4.20
5                electronics        4.18
6                         pc        4.22
7           digital_software        3.73
8                 automotive        4.34
9                      shoes        4.29
10                    beauty        4.26
11                 video_dvd        4.52
12              multilingual        4.37
13                  wireless        4.02
14                     books        4.18
15                   watches        4.23
16                      baby        4.28
17                 gift_card        4.82
18                  outdoors        4.32
19    digital_video_download        4.18
20                     video        4.39
21    digital_music_purchase        4.67
22                    sports        4.32
23          major_appliances        4.25
24                      toys        4.35
25  personal_care_appliances        4.10
26               video_games        4.27
27       musical_instruments        4.35
28              pet_products        4.23
29      health_personal_care        4.22
30    digital_ebook_purchase        4.22
31               mobile_apps        3.97
32                   apparel        4.18
33                   grocery        4.41
34        mobile_electronics        3.91
35                     tools        4.36
36                    camera        4.24

In [83]:
df_rows_per_category_after_cleaning = wr.s3.read_parquet(
    path="s3://amazon-reviews-eafit/eda/records_per_category/"
)

In [84]:
df_rows_per_category_after_cleaning.sort_values(by="category")

                    category    count
32                   apparel  4212567
8                 automotive  2537436
16                      baby  1123022
10                    beauty  3356403
14                     books   209179
36                    camera  1195962
30    digital_ebook_purchase  3122403
21    digital_music_purchase  1057557
7           digital_software    50963
19    digital_video_download  2088923
0        digital_video_games    81099
5                electronics  2014714
4                  furniture   528316
17                 gift_card    86524
33                   grocery  1658215
29      health_personal_care  3517056
23          major_appliances    48745
31               mobile_apps  3598431
34        mobile_electronics    64774
12              multilingual  4033028
2                      music  1677264
27       musical_instruments   612850
3            office_products  1807598
18                  outdoors  1613236
6                         pc  4624101
25  personal_care_appliances    48648
28              pet_products  1926377
9                      shoes  2936175
1                   software   153537
22                    sports  3344374
35                     tools  1274579
24                      toys  3240882
20                     video    71918
11                 video_dvd  2765127
26               video_games   911382
15                   watches   629148
13                  wireless  5671045

In [85]:
df_total_rows_per_category_before_cleaning = wr.s3.read_parquet(
    path="s3://amazon-reviews-eafit/eda/total_rows_per_category/"
)

In [86]:
df_total_rows_per_category_before_cleaning.sort_values(by="category")

                    category    count
1                    apparel  5881740
2                 automotive  3510834
3                       baby  1749122
4                     beauty  5094202
5                      books  3105251
6                     camera  1800802
7     digital_ebook_purchase  5100061
8     digital_music_purchase  1681414
36          digital_software   101832
9     digital_video_download  3998206
33       digital_video_games   144718
10               electronics  3090949
11                 furniture   791662
37                 gift_card   148309
12                   grocery  2393304
13      health_personal_care  5312615
32          major_appliances    96832
14               mobile_apps  5008021
34        mobile_electronics   104846
31              multilingual  6900546
15                     music  4740425
16       musical_instruments   903991
17           office_products  2640204
18                  outdoors  2299783
19                        pc  6906695
35  personal_care_appliances    85923
20              pet_products  2639840
21                     shoes  4358785
22                  software   341234
23                    sports  4832885
24                     tools  1740012
25                      toys  4859556
30                     video   380531
26                 video_dvd  5048892
27               video_games  1780209
28                   watches   960185
29                  wireless  8991371
0                       <NA>   219693